<!--  start footer  -->
	<footer>
		<div class="grupo">
			<!-- adresse1  -->
			<section class="caja tablet-1-3 adress">
				<p><strong>Sanurya FastGood</strong></p>
				<div class="social-icons">
					<ul>
						<li>
							<a target="_blank" href="https://www.facebook.com/sanuryafastgood/"><i class="fa fa-facebook"></i></a>
						</li>
					</ul>
				</div>
				<p>© Todos los derechos reservados 2016.</p>
			</section>

			<section class="caja tablet-1-3">
				<img src="images/oie_transparent.png" class="footer_logo" alt="" title="">
			</section>

			<!--  footer copyrights  -->
			<section class="caja tablet-1-3 copyrights">
				<p class="location">Calle Cantuarias 160 Miraflores<br/>
				Miraflores - Lima, Peru</p>
				<p>Horario de Lunes a Viernes de 8 am a 9 pm<br/>
					Sábados de 9 am a 4 pm.</p>
				<p class="phone"><i class="fa fa-phone"></i> +51 993 001 862 </p>				
			</section>
		</div>
	</footer>