<ng-include src="'templates/header.html'"></ng-include>
<!--  start hero  -->
	<section class="hero">
		<div class="caption">
			<h3>Bienvenido a tu restaurante saludable</h3>
			<h4>
				<span class="rsep"></span>
				Deliciosa comida para tu salud
				<span class="lsep"></span>
			</h4>
			
		</div>
	</section>
<!--  end hero  -->
<div class="nosotros" id="about">
	<div class="margen">
        <div class="nosotros__title">
          	<div class="grupo">
            	<div class="caja total">
             	 	<h1>Nosotros</h1>
            	</div>
        	</div>
    	</div>
        <div class="nosotros__description">
          <div class="grupo">
            <div class="caja total">
              <p><strong>Sanurya FastGood</strong>  es el primer SaladBar Café Peruano de formato FastGood. Aquí podrás armar tus propias ensaladas ,wraps, jugos ,etc. Encontraras sándwich, cremas, tortillas, postres increíbles y una carta de Café y Té que te harán sentir como en casa.</p><br/>
              <p>Accede a nuestra web donde podrás hacer el pedido de tus platos favoritos.</p>
              <a href="#about" class="btn btn-success btn-xl page-scroll">Ingresa Aqui!</a>
            </div>
          </div>
        </div>
      </div>
</div>

	<!--  start menu  -->
<div class="container">
	<section class="menu">
		<div class="wrapper">
			<div class="menu_title">
				<h2>The Menu</h2>
			</div>
			
			<div class="mean_menu">
				<!--  left menu row  -->
				<article class="lmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Voluptate cillum fugiat.</h3>
								<p class="item_desc">Cheese, tomato, mushrooms, onions.</p>
							</div>
							<h4 class="price">$50</h4>
							<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Metus varius laoreet.</h3>
								<p class="item_desc">Chicken, mozzarella cheese, onions.</p>
							</div>
							<h4 class="price">$62</h4>
							<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Donec sodales magna.</h3>
								<p class="item_desc">Tuna, Sweetcorn, Cheese.</p>
							</div>
							<h4 class="price">$25</h4>
							<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Saugue velit cursus.</h3>
								<p class="item_desc">Pineapple, Minced Beef, Cheese.</p>
							</div>
							<h4 class="price">$30</h4>
							<span class="separator"></span>
						</li>
					</ul>
				</article>

				<!--  right menu row  -->
				<article class="rmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Arcu pede enim justo.</h3>
								<p class="item_desc">Tuna, Sweetcorn, Cheese.</p>
							</div>
							<h4 class="price">$45</h4>
							<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Cras dapibussemper nisi.</h3>
								<p class="item_desc">Pineapple, Minced Beef, Cheese.</p>
							</div>
							<h4 class="price">$32</h4>
							<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Quam semper libero.</h3>
								<p class="item_desc">Cheese, tomato, mushrooms, onions.</p>
							</div>
							<h4 class="price">$15</h4>
							<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Nam eget dui Etiam.</h3>
								<p class="item_desc">Chicken, mozzarella cheese, onions.</p>
							</div>
							<h4 class="price">$35</h4>
							<span class="separator"></span>
						</li>
					</ul>
				</article>
			</div>

			<!--  hidden menu items  -->
			<div class="hidden_items">
				<!--  left menu row  -->
				<article class="lmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Voluptate cillum fugiat.</h3>
								<p class="item_desc">Cheese, tomato, mushrooms, onions.</p>
							</div>
							<h4 class="price">$50</h4>
						<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Voluptate cillum fugiat.</h3>
								<p class="item_desc">Cheese, tomato, mushrooms, onions.</p>
							</div>
							<h4 class="price">$50</h4>
						<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Voluptate cillum fugiat.</h3>
								<p class="item_desc">Cheese, tomato, mushrooms, onions.</p>
							</div>
							<h4 class="price">$50</h4>
						<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Voluptate cillum fugiat.</h3>
								<p class="item_desc">Cheese, tomato, mushrooms, onions.</p>
							</div>
							<h4 class="price">$50</h4>
						<span class="separator"></span>
						</li>
					</ul>
				</article>

				<!--  right menu row  -->
				<article class="rmenu">
					<ul>
						<li>
							<div class="item_info">
								<h3 class="item_name">Voluptate cillum fugiat.</h3>
								<p class="item_desc">Cheese, tomato, mushrooms, onions.</p>
							</div>
							<h4 class="price">$50</h4>
						<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Voluptate cillum fugiat.</h3>
								<p class="item_desc">Cheese, tomato, mushrooms, onions.</p>
							</div>
							<h4 class="price">$50</h4>
						<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Voluptate cillum fugiat.</h3>
								<p class="item_desc">Cheese, tomato, mushrooms, onions.</p>
							</div>
							<h4 class="price">$50</h4>
						<span class="separator"></span>
						</li>
						<li>
							<div class="item_info">
								<h3 class="item_name">Voluptate cillum fugiat.</h3>
								<p class="item_desc">Cheese, tomato, mushrooms, onions.</p>
							</div>
							<h4 class="price">$50</h4>
						<span class="separator"></span>
						</li>
					</ul>
				</article>
			</div>

			<div class="load-more">
				<a href="#" id="more_items">
					show more
					<hr/>
					<span class="bottom_arrow"></span>
				</a>
			</div>
		</div>
	</section><!--  end menu  -->
</div>
<ng-include src="'templates/footer.html'"></ng-include>